@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500&display=swap");

:root {
  font-size: 8px;
}

.ChatController {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

