.StyleModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

.StyleModal h2 {
  text-align: center;
  font-size: 3.5rem;
}

.StyleModalContainer {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2.5rem;
  border: 1px solid #888;
  width: 60vmin;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.InputName {
  margin-bottom: 2rem;
  font-size: 5rem;
  height: 5vmin;
  width: 50vmin;
}
.InputName:focus {
  outline: 2px solid #3895d0;
}

.StartButton {
  background: none repeat scroll 0 0 transparent;
  color: #3895d0;
  font-size: 3rem;
  text-decoration: none;
  text-indent: 0;
  border: 1px solid #3895d0;
  border-radius: 0.5vmin;
  padding: 1vmin;
  cursor: pointer;
  margin-bottom: 5vmin;
}

.StartButton:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px black;
}

.StartButton:active {
  transform: scale(0.9);
  box-shadow: none;
}
